<div cool-fade>
    <div class="row">
        <div class="span8">
            
            <h1 class="project-header" ng-show="state.loading">Loading...</h1>
            <h1 class="project-header" ng-hide="state.editing">{{project.name | inflector:humanize}}</h1>

            <div ng-show="state.editing" class="edit-page-item">
                <label for="">Name: </label><input class="input-project-edit" type="text" ng-model="project.name">
            </div>

            <p ng-hide="state.editing">
                
                <span class="badge badge-info" ng-repeat="tag in project.tags">{{tag}}</span>
            </p>

            <div ng-show="state.editing" class="edit-page-item">
                <label for="">Tags: </label><input class="input-project-edit" type="text" ng-model="project.tags" ng-list>
            </div>

            <hr>

            <p ng-hide="project.description"><a ng-href="" ng-click="startEdits()">Add a Description</a><br></p>

            <markdown ng-hide="state.editing" ng-model="project.description"></markdown>

            <textarea ng-show="state.editing" class="input-project-edit" rows="10" ng-model="project.description"></textarea>


<!--             <a ng-click="recalculateCompletion()" href="" class="btn btn-primary">Complete Project <i class="icon-check icon-white"></i></a>
            <a ng-click="deleteMe()" class="btn btn-default">Delete Project <i class="icon-trash"></i></a>
            <button ng-hide="state.editing" ng-click="startEdits()" class="btn btn-default">Edit <i class="icon-edit"></i></button>
            <button ng-show="state.editing" ng-click="saveEdits()" class="btn btn-success">Save Edit <i class="icon-edit icon-white"></i></button>
            <small ng-show="savedEdits" style="color:#41BB19;">Saved!</small>
            <small style="color:#FF0000;">Failed!</small> -->

            <hr>
            <div class="btn-toolbar">
                
                <div class="btn-group">
                    <button class="btn btn-large btn-primary tooltips" ng-click="recalculateCompletion()"
                            data-toggle="tooltip" title="Complete!">
                        <i class="icon-ok icon-white"></i>
                    </button>
                    <button class="btn btn-large tooltips" ng-click="deleteMe()"
                            data-toggle="tooltip" title="Delete!">
                        <i class="icon-trash"></i>
                    </button>
                    <button class="btn btn-large tooltips"
                            data-toggle="tooltip" title="Share This Link!">
                        <i class="icon-share"></i>
                    </button>
                </div>


                <div class="btn-group">
                    <button ng-hide="state.editing" class="btn btn-large tooltips" ng-click="startEdits()" data-toggle="tooltip" title="Edit This Project!">
                        <i class="icon-edit"></i>
                    </button>
                    <button ng-show="state.editing" class="btn btn-large btn-success tooltips" ng-click="saveEdits()"
                            data-toggle="tooltip" title="Save Edits!">
                        <i class="icon-edit icon-white"></i>
                    </button>
                    <button ng-show="state.editing" class="btn btn-large btn-danger tooltips" ng-click="resetEdits()"
                            data-toggle="tooltip" title="Remove Edits">
                        <i class="icon-remove icon-white"></i>
                    </button>
                </div>

            </div>

        </div>
        <div class="span4">
            <div class="well">
                
                <p ng-hide="state.loading"><b>Created By</b>: {{project.founder}} on {{project.date}}</p>
                <p><b>Members</b>: Derek, Carley, Willow, Otto, Junior, Obama, Carl, Shane, Rick</p>
                <a href="/ohno" class="btn btn-inverse btn-small">Add a Member</a>
                <br>
                <br>
     <!--            <p><b>Complete:</b> {{project.complete}}</p>
                <p><b>Publicly Visible:</b> {{project.public_viewing}}</p>
                <p><b>Publicly Editable:</b> {{project.public_state.editing}}</p> -->

            </div>
            <h4>Completion: {{state.completion}}%</h4>
            <div class="progress">
              <div class="bar" style="width: {{state.completion}}%;"></div>
            </div>
            <h4>Total Time Logged: {{state.totalHours}} hours</h4>
        </div>
    </div>
    
    <hr>

    <div class="clearfix">
        <h3 id="tasks-header" class="pull-left">Tasks</h3>
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <button class="btn btn-link" disabled>View:</button>
                <button class="btn btn-info active">Active</button>
                <button class="btn btn-default">Complete</button>
                <button class="btn btn-default">Both</button>
            </div>

        </div>

    </div>
    <ul id="task-list">
        <li>
            <button id="newtask-btn" class="btn btn-link" ng-hide="state.creating" ng-click="openNewTask()">Create a Task</button>
            <div class="input-append" ng-show="state.creating">
                <form action="" class="form-inline">
                    <input type="text" placeholder="Create a Task" class="input-xlarge" ot-focus="state.creating" ng-model="taskname" ui-keypress="{13:'addTask()'}">
                    <button class="btn btn-primary" ng-click="addTask()">Create</button>
                    <button class="btn btn-default" ng-click="state.creating=false"><i class="icon-remove"></i></button>
                </form>
                
            </div>
        </li>
        <li ng-repeat="task in tasks | orderBy:state.orderProp" class="task-item" ui-animate>
            <div class="pull-left">
                <h4 class="task-title">{{task.name}}</h4>
                <button class="btn btn-small btn-success" ng-click="completeTask(task, $index)"><i class="icon-ok icon-white"></i></button>
                <button class="btn btn-small" ng-click="deleteTask(task, $index)"><i class="icon-trash"></i></button>
            </div>
            <div class="inline-timer pull-right">
                
                <span class="timer-count">00:00:00</span>
                <br>
                <div class="pull-right">
                    <button class="btn btn-small"><i class="icon-play"></i></button>
                    <button class="btn btn-small"><i class="icon-stop"></i></button>
                    <button class="btn btn-small"><i class="icon-remove"></i></button>
                </div>
            </div>
        </li>
    </ul>
</div>
