<div cool-fade>
    <div class="row">
        <div class="span10">
            
            <h2 class="project-header" ng-show="loading">Loading...</h2>
            <h2 class="project-header">{{project.name | inflector:humanize}}</h2>
            <p ng-hide="loading"><b>Created By</b>: {{project.founder}} on {{project.date}}</p>
            <p><b>Members</b>: Derek, Carley, Willow, Otto</p>
            <p><b>Complete:</b> {{project.complete}}</p>
            <p><b>Publicly Visible:</b> {{project.public_viewing}}</p>
            <p><b>Publicly Editable:</b> {{project.public_editing}}</p>
            <p>
                <a ng-click="recalculateCompletion()" href="" class="btn btn-primary">Complete Project</a>
                <a href="/ohno" class="btn btn-info">Add a Member</a>
                <a ng-click="deleteMe()" class="btn btn-default">Delete Project</a>
            </p>

        </div>
        <div class="span2">
            <!-- <div class="well">
                <h4>Deadline:</h4>
                <h4>2 Hours 13 Minutes</h4>
            </div> -->
        </div>
    </div>
    <hr>
    <h4>Completion: {{completion}}%</h4>
    <div class="progress">
      <div class="bar" style="width: {{completion}}%;"></div>
    </div>
    <p>{{project.description}}</p>
    <hr>

    <ul id="task-list">
        <li ng-repeat="task in [1,2,3,4,5]"class="task-item">
            <h3 class="task-title">Task Name</h3>
            <button class="btn btn-small"><i class="icon-check"></i></button>
            <div class="inline-timer pull-right">
                <small>Time Logged:</small>
                <span class="timer-count">00:00:00</span>
                <button class="btn btn-small"><i class="icon-play"></i></button>
                <button class="btn btn-small"><i class="icon-stop"></i></button>
                <button class="btn btn-small"><i class="icon-remove"></i></button>
            </div>
        </li>
    </ul>
</div>
