<div cool-fade>
    <div class="row">
        <div class="span10">
            
            <h1 class="project-header">{{title | inflector:humanize}}</h1>
            <p><b>Created By</b>: Derek on March 1st, 2013, 7:45 PM</p>
            <p><b>Members</b>: Derek, Carley, Willow, Otto</p>
            <p>
                <a href="" class="btn btn-primary">Complete Project</a>
                <a href="" class="btn btn-info">Add a Member</a>
                <a href="" class="btn btn-default">Delete Project</a>
            </p>

        </div>
        <div class="span2">
            <!-- <div class="well">
                <h4>Deadline:</h4>
                <h4>2 Hours 13 Minutes</h4>
            </div> -->
        </div>
    </div>
    <hr>
    <h4>Completion: {{completion}}%</h4>
    <div class="progress">
      <div class="bar" style="width: {{completion}}%;"></div>
    </div>
    <p>This project is all about completing the onTime WebApp. So far a good deal of the front end has been written (at a blazing fast speed thanks to Angular.js)</p>
    <hr>


</div>
