<div cool-fade>
    
    <h2>My Settings</h2>
    <hr>


            <h4>Projects</h4>
            <code>
                console.log("soon to come");
            </code>
            <hr>
            <h4>Tasks</h4>
            <code>
                console.log("soon to come");
            </code>
            <hr>
            <h4>Notifications</h4>
            <code>
                console.log("soon to come");
            </code>
            <hr>
            <h4>Timers</h4>
            <p>Warn me before I start a new timer with one already running.</p>
            <code>
                console.log("soon to come");
            </code>
            <hr>
            <h4>Shortcut-Keys</h4>
            <p><small>Shortcut keys are saved locally on your computer and not on the server.</small></p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Key 1</th>
                        <th>Key 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Create New Project</td>
                        <td>Shift + Ctrl + N</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>Toggle Timer Window</td>
                        <td>T</td>
                        <td>Ctrl + T</td>
                    </tr>
                    <tr>
                        <td>Stop All Timers</td>
                        <td>Ctrl + S</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>Start Timer N</td>
                        <td>Shift + Ctrl + (1-9)</td>
                        <td>None</td>
                    </tr>
                </tbody>
            </table>
            <hr>


</div>