<ul class="nav nav-list">
          <li class="nav-header">
            My Projects 
            <button class="btn btn-small btn-primary pull-right" ng-click="createNewProject()">New Project</button>
          </li>
          <li class="divider"></li>
          <li class="nav-header clearfix">
            Search:
            <input type="text" class="pull-right" ng-model="query">
            <br>
          </li>
          <li class="divider"></li>
          <li ng-hide="loading.finished" style="text-align:center;">Loading...</li>
          <li ng-repeat="project in projects | filter:query" class="ng-cloak">
            <a ng-click="chooseProject(project)" ng-class="{activeproject: isActive(project)}">{{project.title}} 
              <small class="pull-right">Deadline: {{project.dl}}</small>
            </a>
          </li>
        </ul>