<!doctype html>
<html lang="en" ng-app="myApp">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>onTime{{{title}}}</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!--[if lte IE 8]>
    <script>
    // The ieshiv takes care of our ui.directives, bootstrap module directives and 
    // AngularJS's ng-view, ng-include, ng-pluralize and ng-switch directives.
    // However, IF you have custom directives (yours or someone else's) then
    // enumerate the list of tags in window.myCustomTags
 
    window.myCustomTags = [ 'yourDirective', 'somebodyElsesDirective' ]; // optional
    </script>
    <script src="build/angular-ui-ieshiv.js"></script>
<![endif]-->

  <!-- CONCATENATE AND MINIFY CSS FOR BUILD -->
  <link rel="stylesheet" href="/app/css/cosmostrap.min.css"/>
  <!-- <link rel="stylesheet" href="/app/css/bootstrap.min.css"/> -->
  <link rel="stylesheet" href="/app/css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" href="/app/css/app.css"/>
  <!-- END CONCATENATE -->

</head>
<body>

  <!-- Add all partials to this page here as part of the build step
      In order to avoid having to send a GET Request for them later -->

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div>
        
        <a href="/" class="brand hidden-phone">onTime</a>
        <ul class="nav">
          <li><a href="/"><span class="hidden-phone">Dashboard</span> <i class="icon-th-list icon-white"></i></a></li>
          <li><a href="/settings"><span class="hidden-phone">Settings</span> <i class="icon-cog icon-white"></i></a></li>
          <li><a href="/help"><span class="hidden-phone">Help</span> <i class="icon-question-sign icon-white"></i></a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="/profile"><span class="hidden-phone">{{{name}}}</span> <i class="icon-user icon-white"></i></a></li>
          <li><a onclick="window.location='{{{logout_url}}}';"><span class="hidden-phone">Logout</span> <i class="icon-off icon-white"></i></a></li>
        </ul>
        
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3 affix" id="sidebar" ng-controller="SidebarCtrl">
        <div id="sidebar-header">
          <div class="clearfix">
            <h3>My Projects</h3>
            <button class="btn btn-primary btn-large pull-right" ng-click="createNewProject()">New <i class="icon-plus-sign icon-white"></i></button>
          </div>
          <form class="form-search" id="search-form">
              <div id="search-form-inner">
                <input id="searchbar" type="text" class="search-query" ng-model="query.name">
                <i class="icon-search icon-white" id="search-icon"></i>
              </div>
          </form>
        </div>

        <ul class="nav nav-list">
          <li ng-hide="loading.finished" style="text-align:center;">Loading...</li>
          <li ng-repeat="project in projects | filter:query" class="ng-cloak project-item" ui-animate>
            <a ng-click="chooseProject(project)" ng-class="{activeproject: isActive(project)}">{{project.name | inflector:humanize }} 
              <small ng-show="project.deadline" class="pull-right">Deadline: {{project.deadline}}</small>
            </a>
          </li>
        </ul>
      </div>
      <div class="span9" id="content" ng-view></div>
    </div>
  </div>

  <div id="timer-bar-hidden">
    <button class="btn btn-info" onclick="openTimers()"><i class="icon-time icon-white"></i> 0</button>
  </div>
  <div id="timer-bar">
    <button class="btn btn-info pull-right" onclick="closeTimers()"><i class="icon-chevron-down icon-white"></i> Close Timers</button>
    <div id="timer-inner">
      <h3>My Timers</h3>
    </div>
  </div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="/app/lib/jquery-1.8.2.min.js"></script>
  <script src="/app/lib/bootstrap.min.js"></script>
  <!-- // <script src="/app/lib/d3.min.js"></script> -->
  <!-- // <script src="/app/lib/moment.min.js"></script> -->
  <script src="/app/lib/angular/angular.min.js"></script>
  <script src="/app/lib/angular/angular-sanitize.min.js"></script>
  <script src="/app/lib/angular/angular-resource.min.js"></script>
  <script src="/app/lib/angular-ui.min.js"></script>
  <script src="/app/lib/showdown.js"></script>

  <!-- CONCATENATE AND MINIFY FOR BUILD -->
  <script src="/app/js/app.js"></script>
  <script src="/app/js/services.js"></script>
  <script src="/app/js/controllers/sidebar.js"></script>
  <script src="/app/js/controllers/project.js"></script>
  <script src="/app/js/controllers/profile.js"></script>
  <script src="/app/js/controllers/help.js"></script>
  <script src="/app/js/controllers/settings.js"></script>
  <script src="/app/js/controllers/dashboard.js"></script>
  <script src="/app/js/controllers/createproject.js"></script>
  <script src="/app/js/filters.js"></script>
  <script src="/app/js/directives.js"></script>
  <script>
      var TIMER_OPEN = false;
      function openTimers(){
        // $('#timer-bar').css('bottom','0px'); 
        $('#timer-bar').addClass('up');
        TIMER_OPEN = true;
      }
      function closeTimers(){
        $('#timer-bar').removeClass('up');
        // $('#timer-bar').css('bottom','-300px'); 
        TIMER_OPEN = false;
      }
      function toggleTimers(){
        TIMER_OPEN = !TIMER_OPEN;
        if(TIMER_OPEN){
          openTimers();
        }
        else{
          closeTimers();
        }
      }
  </script>
  <!-- END CONCATENATE -->


</body>
</html>
